body {
  margin: 0px;
  background-color: SeaGreen;
  color: snow;
}

.title {
  text-align: center;
  background-color: DarkSlateGray;
  color: snow;
  padding: 15px;
  font-size: 30px;
  font-weight: bold;
}

.card {
  width: 110px;
  margin-left: -50px;
}

#comp-cards,
#player-cards {
  height: 180px;
}
